script(src="assets/js/jquery.min.js")
script(src="assets/js/slick.min.js")
script(src="assets/js/jquery.mousewheel.js")
script(src="assets/js/jquery.jscrollpane.min.js")
script(src="assets/js/inputmask.min.js")
script(src="assets/js/form.js")
script(src="assets/js/cart.js")
script(src="assets/js/app.js")
