@import 'base/normalize';
@import 'base/mixins';
@import 'base/fontawesome';
@import 'base/fonts';
@import 'base/icomoon';
@import 'base/layout';
@import 'base/ui';

@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/jquery.jscrollpane';
@import 'plugins/jquery-ui.min';
@import 'plugins/magnific-popup';

@import 'components/header';
@import 'components/footer';
@import 'components/slidecat-section';
@import 'components/aside-profile';

@import 'pages/homepage';
@import 'pages/catalog';
@import 'pages/product-info';
@import 'pages/cart';
@import 'pages/faq';
@import 'pages/order-details';
@import 'pages/account';
@import 'pages/register';
@import 'pages/personal';
@import 'pages/favorites';
@import 'pages/orders';
@import 'pages/return';

@import 'popup/booking';
@import 'popup/popup-sizes';
@import 'popup/password';

/////////////
// PAGE 404
/////////////
#page404 .content404 {
    margin: 80px 10px 10px;
    position: relative;
    width: auto;
    height: auto;

    @include breakpoint(md) {
        margin: 0 auto;
        max-width: 850px;
    }
}

#page404 .content-msg {
    background-color: #fff;
    letter-spacing: .7px;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(md) {
        padding: 30px;
        position: absolute;
        top: 170px;
        width: 100%;
        height: 475px;
        max-width: 70%;
        z-index: 2;
    }
}

#page404 .content-msg h2 {
    margin: 10px 0;
    font-size: 30px;

    @include breakpoint(md) {
        font-size: 48px;
        text-align: left;
    }
}

#page404 .content-msg p {
    margin: 0 auto;
    width: 300px;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    text-transform: none;

    @include breakpoint(md) {
        margin: 35px 0;
        width: 100%;
        max-width: 500px;
        font-size: 22px;
        line-height: 40px;
        text-align: left;
    }
}

#page404 .content-msg > div {
    margin: 20px auto;
}

#page404 .content-msg > div > a {
    margin-bottom: 10px;
    padding: 15px;
    background: #d3d3d3;
    font-weight: 600;
    color: #000;

    @include breakpoint(xs) {
        margin: 0 auto 10px;
        max-width: 200px;
    }

    @include breakpoint(md) {
        margin: 15px 0;
        max-width: 250px;
    }
}

#page404 .content-img {

    @include breakpoint(md) {
        margin-bottom: 50px;
        max-height: 800px;
        overflow: hidden;
    }
}