// Navbar menu
body.filter-opened,
body.open-menu,
body.show-wishlist,
body.show-cart,
body.show-login {
    width: 100%;
    overflow: hidden;
}

.filter-opened .header__menu-btn .line-1,
.open-menu .header__menu-btn .line-1 {
    top: 1px;
    left: -2px;
    transform: rotate(-45deg);
}

.filter-opened .header__menu-btn .line-2,
.open-menu .header__menu-btn .line-2 {
    opacity: 0;
}

.filter-opened .header__menu-btn .line-3,
.open-menu .header__menu-btn .line-3 {
    transform: rotate(45deg);
}

// Header

.top-mobile-return {
    display: none;
}

#header {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 99;

    @include breakpoint(xl) {
        position: static;
        width: auto;
        height: 83px;
        z-index: unset;
    }
}

header {
    padding: 0;
    position: fixed;
    top: 0;
    background: #fbfbf7;
    width: 100%;
    height: 56px;
    float: none;
    z-index: 99;

    @include breakpoint(xl) {
        background-color: transparent;
        position: fixed;
        width: 100%;
        height: 83px;
    }

    .background-header & {
        background: #fbfbf7;
    }
}

header.item-details {
    background: transparent;
    transition: margin .4s ease;

    @include breakpoint(lg) {
        background: #fbfbf7;
    }
}

header.item-details .top-mobile-return {
    position: relative;
    left: 9px;
    top: 19px;
    width: 20px;
    height: 18px;
    display: block;

    @include breakpoint(lg) {
        display: none;
    }
}

header.item-details .top-mobile-return::after {
    content: "";
    padding: 6px;
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 0;
    border: solid #000;
    border-width: 0 1px 1px 0;
    transform: rotate(135deg);
}

header.item-details .header__menu-btn,
header.item-details .header__logo,
header.item-details .header__search {
    display: none;

    @include breakpoint(lg) {
        display: block;
    }
}

header.item-details .header__menu-btn {

    @include breakpoint(xl) {
        display: none;
    }
}

header.item-details .header__search {

    @include breakpoint(lg) {
        display: flex;
    }
}

header.item-details.hide-header {
    margin-top: -60px;
}

.header__top {
    padding: 0 4px;
    display: flex;

    @include breakpoint(xl) {
        margin: 0 0 0 20px;
        padding: 0;
        position: absolute;
        top: calc(100% - 48px);
        left: 0;
        width: auto;
        height: auto;
        max-width: 200px;
        z-index: 101;
    }
}

.header__menu-btn {
    position: absolute;
    top: 20px;
    left: 16px;
    height: 18px;
    width: 21px;
    cursor: pointer;

    @include breakpoint(xl) {
        display: none;
    }
}

.header__menu-btn .line {
    display: block;
    background: #000;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all .4s;
}

.header__menu-btn .line.line-1 {
    top: 0;
    transform-origin: 100% 0;
}

.header__menu-btn .line.line-2 {
    top: calc(50% - 1px);
}

.header__menu-btn .line.line-3 {
    top: calc(100% - 3px);
    transform-origin: 100% 0;
}

.header__logo {
    padding: 22px 0;
    width: 100%;
    text-align: center;

    @include breakpoint(xl) {
        padding: 0;
        width: auto;
    }
}

.header__logo img {
    max-width: 170px;

    @include breakpoint(xl) {
        max-width: 200px;
    }
}

.header__right {
    position: absolute;
    right: 10px;
    top: 4px;
    padding: 0;

    @include breakpoint(xl) {
        flex: none;
        position: relative;
        right: 0;
        top: 0;
        text-align: right;
    }
}

.header__right .right__layer {
    background: rgba(251,251,247,.45);
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
    transition: opacity .25s ease,height .25s ease .25s,width .25s ease .25s;

    @include breakpoint(md) {
        .menu-layer & {
            opacity: 1;
            transition: opacity .25s ease,height 0s ease 0s,width 0s ease 0s;
            width: 100%;
            height: 100%;
            left: 0;
            top: 55px;
        }

        .show-cart & {
            top: 0;
        }

        .show-wishlist & {
            top: 0;
        }
    }

    @include breakpoint(xl) {
        background: rgba(251,251,247,.45);
        position: fixed;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 99;
        transition: opacity .25s ease,height .25s ease .25s,width .25s ease .25s;
    }
}

.header__info {
    display: flex;
    justify-content: flex-end;
    width: auto;
    right: 20px;
    z-index: 100;

    @include breakpoint(xl) {
        position: fixed;
        top: 18px;
        display: flex;
        justify-content: flex-end;
        width: auto;
    }
}

.header__info > li {
    padding-top: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 39px;
    font-size: 22px;
    text-align: center;

    @include breakpoint(md) {
        min-width: 44px;
        height: 39px;
    }

    @include breakpoint(xl) {
        min-width: 35px;
        font-size: 20px;
    }
}

.header__info a {
    color: #000000;
}

.header__info .header__search {
    font-size: 17px;

    @include breakpoint(md) {
        display: flex;
        font-size: 20px;
    }
}

.header__info .header__login {
    display: none;

    @include breakpoint(md) {
        display: flex;
    }
}

.header__info .header__wishlist {
    position: relative;
    display: none;

    @include breakpoint(md) {
        display: flex;
    }
}

.header__info .header__cart {
    position: relative;
    bottom: 1px;

    @include breakpoint(md) {
        font-size: 25px;
    }

    @include breakpoint(xl) {
        font-size: 20px;
    }
}

.header__info .number-item {
    background: #fbfbf7;
    position: absolute;
    bottom: -3px;
    right: 3px;
    width: 17px;
    height: 17px;
    font-size: 10px;
    line-height: 17px;
    border-radius: 550%;
    z-index: 0;
}

#navbar {
    padding-bottom: 15px;
    background-color: #fbfbf7;
    position: fixed;
    top: 56px;
    left: -100%;
    width: 100%;
    height: calc(100% - 51px);
    max-width: 514px;
    opacity: 0;
    transition: left 0s ease-out .25s,opacity .25s ease-out;
    overflow: auto;
    z-index: 99;
    transform: translateY(0);

    .open-menu & {
        left: 0;
        opacity: 1;
        transition: left 0s ease-out 0s, opacity .25s ease-out;
    }

    @include breakpoint(xl) {
        padding: 0;
        background: none;
        position: relative;
        top: 50%;
        left: 0;
        max-width: unset;
        height: auto;
        opacity: 1;
        transition: none;
        overflow: initial;
        transform: translateY(-50%);
        z-index: 99;
    }
}

.navbar__menu {
    margin: auto;
    position: relative;
    display: table;
    width: 100%;
    height: 25px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;

    @include breakpoint(xl) {
        font-size: 13px;
        line-height: 8px;
    }
}

.navbar__menu .item__menu {
    margin: 0;
    position: relative;
    display: block;
    height: auto;
    line-height: 27px;
    overflow: hidden;
    border-top: 1px solid #ebecec;

    @include breakpoint(xl) {
        margin: 0 15px;
        position: static;
        display: inline-block;
        border: none;
        overflow: initial;
    }
}

.navbar__menu .item__menu:hover::after {

    @include breakpoint(xl) {
        content: "";
        margin-bottom: -27px;
        display: block;
        background: 0 0;
        width: 100%;
        height: 26px;
    }
}

.navbar__menu .item__menu:hover .item__menu-link::after {

    @include breakpoint(xl) {
        content: "";
        transform: scaleX(1);
        transform-origin: 0 100%;
    }
}

.navbar__menu .item__menu:hover .submenu__wrap {

    @include breakpoint(xl) {
        height: auto;
        top: 43px;
    }
}

.navbar__menu .item__menu:hover .submenu__main {

    @include breakpoint(xl) {
        height: auto;
        padding: 11px 0;
        transform: translateY(0);
        transition: transform .5s;
    }
}

.navbar__menu .item__menu:last-child {
    border-bottom: 1px solid #ebecec;

    @include breakpoint(xl) {
        border: none;
    }
}

.navbar__menu .item__menu::after {

    @include breakpointMax(xl) {
        content: "\e905";
        position: absolute;
        top: 0;
        right: 17px;
        font-family: 'icomoon';
        font-weight: 700;
        font-size: 10px;
        line-height: 50px;
        color: #818181;
    }
}

.navbar__menu .item__menu.active-link::after {

    @include breakpointMax(xl) {
        right: auto;
        left: 17px;
        transform: rotate(180deg);
    }
}

.navbar__menu .item__menu-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 52px;
    text-transform: uppercase;
    vertical-align: middle;
    transition: height .35s,opacity .4s;

    @include breakpoint(xl) {
        position: static;
        display: initial;
        color: #000;
    }
}

.navbar__menu .item__menu-link::after {

    @include breakpoint(xl) {
        content: "";
        background: #000;
        display: block;
        position: relative;
        top: 0;
        height: 1px;
        transform: scaleX(0);
        transform-origin: 100% 0;
        transition: transform .5s;
    }
}

.navbar__menu .submenu__wrap {
    left: 0;
    top: 29px;
    width: 100%;
    text-align: left;
    overflow: hidden;

    @include breakpoint(xl) {
        position: absolute;
    }
}

.navbar__menu .submenu__main {
    display: block;
    background: #fbfbf7;
    position: relative;
    top: 0;
    height: 0;
    transform: translateY(120px);
    overflow: auto;

    @include breakpoint(xl) {
        background: rgba(251,251,247,.93);
        transform: translateY(-100%);
        transition: transform 0s;
    }
}

.navbar__menu .item__menu.active-link .submenu__main {
    height: calc(100% - 195px);
    opacity: 1;
    transform: translateY(0);
    transition: transform .4s ease-out .15s,opacity .4s ease-out .2s;
}

.navbar__menu .submenu__expand-col {
    margin: auto;
    max-width: 1036px;

    @include breakpoint(xl) {
        display: flex;
        justify-content: center;
    }
}

.navbar__menu .submenu__col-list {
    flex: 1;
}

.navbar__menu .submenu__title {
    display: none;

    @include breakpoint(xl) {
        margin-bottom: 18px;
        display: inline-block;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
    }
}

.navbar__menu .submenu__col-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;

    @include breakpoint(xl) {
        display: list-item;
        height: auto;
        line-height: 28px;
    }
}

.navbar__menu .submenu__col-item:first-child h3 {
    font-weight: bold;
}

.navbar__menu h3 {
    display: inline-block;
    font-weight: 400;
    text-transform: none;
}

.navbar__menu h3 a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__menu.submenu-show > .item__menu {
    border: none;
}

.navbar__menu.submenu-show > .item__menu > .item__menu-link {
    height: 0;
    opacity: 0;
}

.navbar__menu.submenu-show > .item__menu.active-link > a {
    background-color: #eeede7;
    height: 49px;
    opacity: 1;
    border-top: 1px solid #ebecec;
}

.navbar__menu.submenu-show + .navbar__extra {
    display: none;
}

.navbar__menu .submenu__images {
    display: none;

    @include breakpoint(xl) {
        margin-top: 8px;
        width: 650px;
        display: flex;
        justify-content: space-between;
        text-transform: none;
    }
}

.navbar__menu .submenu__images li {
    width: 207px;
    text-align: center;
}

.navbar__menu .submenu__images li a {
    padding: 2px 0 6px;
    display: block;
    line-height: normal;
}

.navbar__menu .submenu__images li span:first-child {
    margin-bottom: 6px;
}

.navbar__extra {
    font-size: 13px;
    text-align: center;

    @include breakpoint(xl) {
        display: none;
    }
}

.navbar__extra .extra__menu {
    margin-top: 28px;
}

.navbar__extra .extra__menu-link--account {
    margin-right: 16px;
    margin: auto;
    width: calc(100% - 36px);
    line-height: 32px;
}

.header__search-form {
    display: none;
    background: #fbfbf7;
    flex: auto;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    @include breakpoint(xl) {
        background: rgba(251,251,247,.93);
        top: 100%;
        right: 0;
        overflow: hidden;
    }
}

.header__search-form.opened {
    padding: 0;
    display: block;
    opacity: 1;
    transition: none;

    @include breakpoint(xl) {
        height: 151px;
    }
}

.header__search-form form {
    margin: auto;
    padding: 0;
    width: calc(100% - 32px);
    height: 45px;
    outline: 0;
    border-bottom: none;
    transition: none;
    z-index: 100;

    @include breakpoint(xl) {
        margin-top: 40px;
        padding: 0 0 10px;
        display: block;
        width: 39.1%;
        height: 60px;
        border-bottom: 1px solid #000;
    }
}

.header__search-form fieldset {
    position: relative;
}

.header__search-form button {
    padding: 0;
    position: absolute;
    font-weight: 700;
    background: url(../images/search_logo_header.svg) center center;
    background-repeat: no-repeat;
    display: block;
    top: 50%;
    left: 5px;
    right: auto;
    width: 17px;
    font-size: 17px;
    color: #000;
    text-align: left;
    opacity: 1;
    transform: translateY(-50%);

    @include breakpoint(xl) {
        display: none;
    }
}

.header__search-form input {
    margin-left: 30px;
    padding: 0 15px;
    width: 80%;
    height: 45px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: none;
    border: none;
    transition: none;
    z-index: 100;

    @include breakpoint(xl) {
        margin-left: 10px;
        padding: 0 50px 0 0;
        background: 0 0;
        width: 100%;
        height: 50px;
        font-size: 30px;
        letter-spacing: .1em;
        border: none;
    }
}

.header__search-form .icon-close {
    position: absolute;
    top: 50%;
    right: -5px;
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    transform: translateY(-50%) rotate(45deg);

    @include breakpoint(md) {
        right: 10px;
    }

    @include breakpoint(xl) {
        display: block;
        position: absolute;
        top: 40px;
        left: auto;
        right: 0;
        font-size: 22px;
    }
}

///// LOGIN
.login__content {
    padding: 56px 51px;
    background-color: #fbfbf7;
    position: fixed;
    right: 0;
    top: 0;
    max-width: 360px;
    height: 100%;
    text-align: center;
    overflow: auto;
    border: none;
    transform: translateX(100%);
    transition: all .25s ease-out;
    z-index: 100;

    .show-login & {
        transform: translateX(0);
    }
}

.login__title,
.register-sec h3 {
    margin: 0 0 22px;
    display: block;
    max-width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #000;
    line-height: initial;
    text-transform: uppercase;
    letter-spacing: normal;
}

#login-form input {
    margin: 0;
    padding: 0;
    background-color: #fbfbf7;
    width: 100%;
    height: 41px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: .06em;
    border: none;
    border-bottom: 1px solid #0b273e;
    appearance: none;
    border-radius: 0;
}

#login-form a {
    margin: 15px 0;
    padding: 0;
    font-size: 13px;
    text-transform: none;
}

.register-sec {
    margin-top: 60px;
}

.register-sec a {
    color: #fff;
}

.logged__menu {
    margin-top: 30px;
    text-align: left;
    overflow: hidden;
}

.logged__menu li {
    width: 249px;
    border-top: 1px solid #d6dbde;
}

.logged__menu li a {
    padding: 17px 0;
    position: relative;
    font-size: 13px;
}

.logged__menu li a::after {
    content: "\e905";
    font-family: 'icomoon';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    font-size: 12px;
    color: #818181;
}

.logged__menu li.logout-account {
    background-color: #eeede7;
    text-align: center;
}

.logged__menu li.logout-account a::after {
    content: none;
}

//// CART
.cart__content,
.wishlist__content {
    padding: 25px;
    background-color: #fbfbf7;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 430px;
    height: 100%;
    text-align: center;
    overflow: auto;
    border: none;
    transform: translateX(100%);
    transition: all .25s ease-out;
    z-index: 100;
}

.wishlist__content {

    .show-wishlist & {
        transform: translateX(0%);
    }
}

.cart__content {

    .show-cart & {
        transform: translateX(0%);
    }
}

.close__content {
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    transform: none;
    cursor: pointer;
    z-index: 9999;

    @include breakpoint(md) {
        background-size: 15px;
        position: absolute;
        right: 18px;
        top: 28px;
        width: 20px;
        height: 20px;
        font-size: 17px;
        font-weight: 700;
        color: #000;
        text-decoration: none;
        transform: rotate(45deg);
        cursor: pointer;
        z-index: 9999;
    }
}

.close__content::before {
    content: "\e90f";
    font-family: 'icomoon';

    @include breakpoint(md) {
        content: "\e90d";
    }
}

.close__content span {

    @include breakpoint(md) {
        display: none;
    }
}

.cart__title,
.wishlist__title {
    margin: 30px 0 15px;
    display: block;
    max-width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: #000;
    line-height: initial;
    text-transform: uppercase;
    letter-spacing: normal;

    @include breakpoint(md) {
        margin-top: 0;
    }
}

.cart__promo,
.wishlist__promo {
    margin-bottom: 3px;
    padding: 7px 3px;
    background: #EFEFE9;
    width: 100%;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    color: #000;
    text-transform: none;
}

.cart__promo p,
.wishlist__promo p {
    margin: 0 auto;
    max-width: 200px;
}

.cart__main,
.wishlist__main {
    margin: 0 auto 17px;
    position: relative;
    width: 100%;
    min-height: 280px;
    max-height: 60vh;
    overflow: auto;
}

.cart__main .jspVerticalBar,
.cart__main .jspHorizontalBar,
.wishlist__main .jspVerticalBar,
.wishlist__main .jspHorizontalBar {
    display: none;
}

.cart__product,
.wishlist__product {
    padding: 17px 0 18px;
    display: flex;
    width: 100%;
    max-width: 100%;
    text-align: left;
}

.cart__image,
.wishlist__image {
    margin-right: 14px;
    width: 108px;
    height: 146px;
    float: none;
}

.cart__attributes,
.wishlist__attributes {
    position: relative;
    width: calc(100% - 87px);
    font-size: 13px;
    color: #000;
    text-align: left;
    line-height: normal;
    text-transform: none;
}

.cart__product-name,
.wishlist__product-name {
    margin-bottom: 5px;
    display: inline-block;
    max-height: 36px;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: normal;
}

.cart__attr-types,
.wishlist__attr-types {
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
}

.wishlist__attr-types  {
    flex-direction: column;
}

.attr-color {
    width: 99px;
    font-size: 12px;
    line-height: normal;
}

.wishlist__attr-types .attr-color {
    margin-bottom: 5px;
    font-size: 13px;
}

.attr-size {
    position: relative;
    width: 100%;
    max-width: 60px;
}

.cart__attr-types .attr-size::after {
    content: "";
    padding: 3px;
    position: absolute;
    top: 4px;
    right: 6px;
    display: inline-block;
    border: solid #000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg) scale(.9);
}

.attr-size select {
    padding: 0 6px;
    height: 19px;
    font-size: 11px;
    font-weight: 700;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }

 .cart__remove a,
 .wishlist__remove a {
    margin-top: 14px;
    display: block;
    font-size: 13px;
    letter-spacing: normal;
    text-decoration: underline;
}

.cart__pricing,
.wishlist__pricing {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: normal;
}

.cart__subtotals,
.wishlist__subtotals {
    margin-bottom: 3px;
    padding: 8px 0;
    background: #fbfbf7;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    font-size: 13px;
    color: #000;
    border-top: 1px solid #bdbdbd;
}

.shipping-price {
    text-transform: uppercase;
}

.cart__totals,
.wishlist__totals {
    margin-bottom: 0;
    width: 100%;
    max-width: 370px;

    @include breakpoint(md) {
        position: fixed;
        bottom: 35px;
    }
}

.total-price {
    padding: 9px 0;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .06em;
    text-align: right;
    text-transform: uppercase;
}

.cart__button,
.wishlist__button {
    margin: 4px auto 10px;
    padding: 10px 0;
    display: block;
    width: 100%;
    height: auto;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 0;
    transition: all .25s ease-out;
    cursor: pointer;
}

.wishlist__button.button-invert {
    background: #fbfbf7;
    color: #000;
    border: 1px solid #000;
}