section.slidecat
    .slidecat__container
        h3.slidecat__title Немного вдохновения
        .slidecat__slide

            .slidecat__product
                a
                    img(src="assets/images/slide-1.jpg", alt="image")
                    .slidecat__details
                        span.slidecat__name Короткое платье
                        .slidecat__price
                            span.slidecat__standart
                            span.slidecat__sales 18 225 ₽

            .slidecat__product
                a
                    img(src="assets/images/slide-2.jpg", alt="image")
                    .slidecat__details
                        span.slidecat__name Кожаный ремень
                        .slidecat__price
                            span.slidecat__standart
                            span.slidecat__sales 22 000 ₽

            .slidecat__product
                a
                    img(src="assets/images/slide-3.jpg", alt="image")
                    .slidecat__details
                        span.slidecat__name Шерстяное платье
                        .slidecat__price
                            span.slidecat__standart
                            span.slidecat__sales 22 000 ₽

            .slidecat__product
                a
                    img(src="assets/images/slide-4.jpg", alt="image")
                    .slidecat__details
                        span.slidecat__name Рубашка с бахромой
                        .slidecat__price
                            span.slidecat__standart
                            span.slidecat__sales 22 000 ₽

            .slidecat__product
                a
                    img(src="assets/images/slide-1.jpg", alt="image")
                    .slidecat__details
                        span.slidecat__name Шерстяное платье
                        .slidecat__price
                            span.slidecat__standart
                            span.slidecat__sales 18 225 ₽

            .slidecat__product
                a
                    img(src="assets/images/slide-2.jpg", alt="image")
                    .slidecat__details
                        span.slidecat__name Халат
                        .slidecat__price
                            span.slidecat__standart
                            span.slidecat__sales 22 000 ₽

            .slidecat__product
                a
                    img(src="assets/images/slide-3.jpg", alt="image")
                    .slidecat__details
                        span.slidecat__name Шерстяное платье
                        .slidecat__price
                            span.slidecat__standart
                            span.slidecat__sales 22 000 ₽

            .slidecat__product
                a
                    img(src="assets/images/slide-4.jpg", alt="image")
                    .slidecat__details
                        span.slidecat__name Блузка с оборками
                        .slidecat__price
                            span.slidecat__standart
                            span.slidecat__sales 22 000 ₽

            .slidecat__product
                a
                    img(src="assets/images/slide-1.jpg", alt="image")
                    .slidecat__details
                        span.slidecat__name Шерстяное платье
                        .slidecat__price
                            span.slidecat__standart
                            span.slidecat__sales 18 225 ₽

            .slidecat__product
                a
                    img(src="assets/images/slide-2.jpg", alt="image")
                    .slidecat__details
                        span.slidecat__name Халат
                        .slidecat__price
                            span.slidecat__standart
                            span.slidecat__sales 22 000 ₽