
<section class="slidecat">
  <div class="slidecat__container">
    <h3 class="slidecat__title">Немного вдохновения</h3>
    <div class="slidecat__slide">
      <div class="slidecat__product"><a><img src="assets/images/slide-1.jpg" alt="image"/>
          <div class="slidecat__details"><span class="slidecat__name">Короткое платье</span>
            <div class="slidecat__price"><span class="slidecat__standart"></span><span class="slidecat__sales">18 225 ₽</span></div>
          </div></a></div>
      <div class="slidecat__product"><a><img src="assets/images/slide-2.jpg" alt="image"/>
          <div class="slidecat__details"><span class="slidecat__name">Кожаный ремень</span>
            <div class="slidecat__price"><span class="slidecat__standart"></span><span class="slidecat__sales">22 000 ₽</span></div>
          </div></a></div>
      <div class="slidecat__product"><a><img src="assets/images/slide-3.jpg" alt="image"/>
          <div class="slidecat__details"><span class="slidecat__name">Шерстяное платье</span>
            <div class="slidecat__price"><span class="slidecat__standart"></span><span class="slidecat__sales">22 000 ₽</span></div>
          </div></a></div>
      <div class="slidecat__product"><a><img src="assets/images/slide-4.jpg" alt="image"/>
          <div class="slidecat__details"><span class="slidecat__name">Рубашка с бахромой</span>
            <div class="slidecat__price"><span class="slidecat__standart"></span><span class="slidecat__sales">22 000 ₽</span></div>
          </div></a></div>
      <div class="slidecat__product"><a><img src="assets/images/slide-1.jpg" alt="image"/>
          <div class="slidecat__details"><span class="slidecat__name">Шерстяное платье</span>
            <div class="slidecat__price"><span class="slidecat__standart"></span><span class="slidecat__sales">18 225 ₽</span></div>
          </div></a></div>
      <div class="slidecat__product"><a><img src="assets/images/slide-2.jpg" alt="image"/>
          <div class="slidecat__details"><span class="slidecat__name">Халат</span>
            <div class="slidecat__price"><span class="slidecat__standart"></span><span class="slidecat__sales">22 000 ₽</span></div>
          </div></a></div>
      <div class="slidecat__product"><a><img src="assets/images/slide-3.jpg" alt="image"/>
          <div class="slidecat__details"><span class="slidecat__name">Шерстяное платье</span>
            <div class="slidecat__price"><span class="slidecat__standart"></span><span class="slidecat__sales">22 000 ₽</span></div>
          </div></a></div>
      <div class="slidecat__product"><a><img src="assets/images/slide-4.jpg" alt="image"/>
          <div class="slidecat__details"><span class="slidecat__name">Блузка с оборками</span>
            <div class="slidecat__price"><span class="slidecat__standart"></span><span class="slidecat__sales">22 000 ₽</span></div>
          </div></a></div>
      <div class="slidecat__product"><a><img src="assets/images/slide-1.jpg" alt="image"/>
          <div class="slidecat__details"><span class="slidecat__name">Шерстяное платье</span>
            <div class="slidecat__price"><span class="slidecat__standart"></span><span class="slidecat__sales">18 225 ₽</span></div>
          </div></a></div>
      <div class="slidecat__product"><a><img src="assets/images/slide-2.jpg" alt="image"/>
          <div class="slidecat__details"><span class="slidecat__name">Халат</span>
            <div class="slidecat__price"><span class="slidecat__standart"></span><span class="slidecat__sales">22 000 ₽</span></div>
          </div></a></div>
    </div>
  </div>
</section>