---
title: Страница не найдена
newsletter: true
---

extends includes/_page

block main

    #page404

        section.content404
            .content-msg
                h2 Ошибка 404
                p К сожалению, страница, которую вы ищете, не может быть найдена.
                div
                    a.button-style(href="/") На главную
                    a.button-style(href="#") Каталог
            .content-img
                img(src="assets/images/711x865_Page-404-AH21.jpg", alt="image")

        section.home__content
            .season-iconic__container
                span.season__title Рекомендуем
                .season__iconic

                    .season__product
                        a
                            img(src="assets/images/slide-1.jpg", alt="image")
                            .product__detail
                                span.product__name Рубашка с бахрамой из вискозы
                                .product__price
                                    span.price__standart
                                    span.price__sales 18 225 ₽

                    .season__product
                        a
                            img(src="assets/images/slide-2.jpg", alt="image")
                            .product__detail
                                span.product__name Халат
                                .product__price
                                    span.price__standart
                                    span.price__sales 22 000 ₽

                    .season__product
                        a
                            img(src="assets/images/slide-3.jpg", alt="image")
                            .product__detail
                                span.product__name Большой свитер из смешанной шерсти
                                .product__price
                                    span.price__standart
                                    span.price__sales 22 000 ₽

                    .season__product
                        a
                            img(src="assets/images/slide-4.jpg", alt="image")
                            .product__detail
                                span.product__name Блузка с оборками
                                .product__price
                                    span.price__standart
                                    span.price__sales 22 000 ₽

                    .season__product
                        a
                            img(src="assets/images/slide-1.jpg", alt="image")
                            .product__detail
                                span.product__name Рубашка с бахрамой из вискозы
                                .product__price
                                    span.price__standart
                                    span.price__sales 18 225 ₽

                    .season__product
                        a
                            img(src="assets/images/slide-2.jpg", alt="image")
                            .product__detail
                                span.product__name Халат
                                .product__price
                                    span.price__standart
                                    span.price__sales 22 000 ₽

                    .season__product
                        a
                            img(src="assets/images/slide-3.jpg", alt="image")
                            .product__detail
                                span.product__name Большой свитер из смешанной шерсти
                                .product__price
                                    span.price__standart
                                    span.price__sales 22 000 ₽

                    .season__product
                        a
                            img(src="assets/images/slide-4.jpg", alt="image")
                            .product__detail
                                span.product__name Блузка с оборками
                                .product__price
                                    span.price__standart
                                    span.price__sales 22 000 ₽

                    .season__product
                        a
                            img(src="assets/images/slide-1.jpg", alt="image")
                            .product__detail
                                span.product__name Рубашка с бахрамой из вискозы
                                .product__price
                                    span.price__standart
                                    span.price__sales 18 225 ₽

                    .season__product
                        a
                            img(src="assets/images/slide-2.jpg", alt="image")
                            .product__detail
                                span.product__name Халат
                                .product__price
                                    span.price__standart
                                    span.price__sales 22 000 ₽
