---
title: Claudie Pierlot | Коллекция Осень-зима 2021
---

extends includes/_page

block main

    #catalog

        .container

            .catheader

                .catheader__breadcrumbs
                    .breadcrumbs__wrapper
                        ol.breadcrumb
                            li.breadcrumb__item
                                a.breadcrumb__elem New In
                            li.breadcrumb__item
                                span.breadcrumb__elem.breadcrumb__elem--last Вся коллекция (421)

                .catheader__catname
                    h1.catname__title
                        span Вся коллекция
                    .catname__content
                        ul.catname__list.catname__list--subcat
                            li.catname__item.catname__item--current Вся коллекция
                        ul.catname__list.catname__list--others
                            li.catname__item
                                a(href="#") Пальто и куртки
                            li.catname__item
                                a(href="#") Платья
                            li.catname__item
                                a(href="#") Комбинезоны
                            li.catname__item
                                a(href="#") Топы и рубашки
                            li.catname__item
                                a(href="#") Футболки
                            li.catname__item
                                a(href="#") Свитера и кардиганы
                            li.catname__item
                                a(href="#") Юбки и шорты
                            li.catname__item
                                a(href="#") Брюки и джинсы
                            li.catname__item
                                a(href="#") Куртки

                .catheader__filters
                    ul
                        li
                            .filters__content
                                .filters__close
                                .filter__mobile Фильтр
                                .filters__list

                                    .filters__refinement
                                        span.filter__title Тип
                                        .filters__container
                                            .filters__item
                                                ul
                                                    li
                                                        a(href="#") Пальто и куртки
                                                    li
                                                        a(href="#") Куртки
                                                    li
                                                        a(href="#") Платья
                                                    li
                                                        a(href="#") Юбки и шорты
                                                    li
                                                        a(href="#") Футболки
                                                    li
                                                        a(href="#") Топы и рубашки
                                                    li
                                                        a(href="#") Свитера и кардиганы
                                                    li
                                                        a(href="#") Брюки
                                                    li
                                                        a(href="#") Комбинезоны
                                                    li
                                                        a(href="#") Обувь
                                                    li
                                                        a(href="#") Сумки
                                                    li
                                                        a(href="#") Шарфы и шали
                                                    li
                                                        a(href="#") Ремни
                                                    li
                                                        a(href="#") Перчатки
                                                    li
                                                        a(href="#") Шапочки
                                                    li
                                                        a(href="#") Ювелирные украшения
                                                    li
                                                        a(href="#") Трикотаж

                                    .filters__refinement
                                        span.filter__title Цвет
                                        .filters__container
                                            .filters__item
                                                ul
                                                    li
                                                        a(href="#") Бежевый
                                                    li
                                                        a(href="#") Белый
                                                    li
                                                        a(href="#") Синий
                                                    li
                                                        a(href="#") Экрю
                                                    li
                                                        a(href="#") Желтый
                                                    li
                                                        a(href="#") Каштан
                                                    li
                                                        a(href="#") Многоцветный
                                                    li
                                                        a(href="#") Темный
                                                    li
                                                        a(href="#") Золото-серебро
                                                    li
                                                        a(href="#") Оранжевый
                                                    li
                                                        a(href="#") Розовый
                                                    li
                                                        a(href="#") Красный
                                                    li
                                                        a(href="#") Зеленый
                                                    li
                                                        a(href="#") Серый

                                    .filters__refinement
                                        span.filter__title Талия
                                        .filters__container
                                            .filters__item
                                                ul
                                                    li
                                                        a(href="#") T0 / 34
                                                    li
                                                        a(href="#") T1 / 36
                                                    li
                                                        a(href="#") 37
                                                    li
                                                        a(href="#") T2 / 38
                                                    li
                                                        a(href="#") 39
                                                    li
                                                        a(href="#") T3 / 40
                                                    li
                                                        a(href="#") 41
                                                    li
                                                        a(href="#") T4 / 42
                                                    li
                                                        a(href="#") TU

                                    .filters__refinement
                                        span.filter__title CLAUDIECARES
                                        .filters__container
                                            .filters__item
                                                ul
                                                    li
                                                        a(href="#") Органический хлопок
                                                    li
                                                        a(href="#") Джинсы водосберегающие
                                                    li
                                                        a(href="#") Переработанная шерсть
                                                    li
                                                        a(href="#") Переработанный акрил
                                                    li
                                                        a(href="#") Переработанный полиэстер
                                                    li
                                                        a(href="#") Вискоза
                                                    li
                                                        a(href="#") Тенсель
                                                    li
                                                        a(href="#") Органический шелк

                                    .mobile__filter
                                        a.delete__filter Сброс фильтра
                                        a.validate__filter Подтвердить

                    .filters__selectedlist.hide-mob-tab

                .catheader__misc
                    ul
                        li.orderby
                            .orderby__close
                            .orderby__mobiletrigger Tri
                            .orderby__container
                                a.orderby__link
                                    span Сортировать по
                                .orderby__content
                                    .orderby__list
                                        ul
                                            li
                                                a(href="#") Цена по возрастанию
                                            li
                                                a(href="#") Цена по убыванию
                                            li
                                                a(href="#") Бестселлеры
                                        a.orderby__delete.hide-mob-tab  Сброс фильтра
                                        .mobiletab__show
                                            a.orderby__validate Подтвердить
                                            a.orderby__delete  Сброс фильтра

                    .viewschoice
                        .viewchoice__change
                            span.label Вид
                            span.btn-change-grid.grid-one 1
                            span.btn-change-grid.grid-two 2
                            span.btn-change-grid.grid-four.active 4
                            span.btn-change-grid.grid-six 6

            .catalog__sec
                .catalog__container

                    include components/_catalog-card
                    +card("Claudie_CFPJU00339-K007_H_1.jpg", "Claudie_CFPJU00339-K007_H_2.jpg", "Claudie_CFPJU00339-K007_H_3.jpg", '18 225')
                    +card("Claudie_CFPOU00335-K007_H_1.jpg", "Claudie_CFPOU00335-K007_H_2.jpg", "Claudie_CFPOU00335-K007_H_3.jpg", '22 000')
                    +card("Claudie_CFPOU00398-H002_H_1.jpg", "Claudie_CFPOU00398-H002_H_2.jpg", "Claudie_CFPOU00398-H002_H_3.jpg", '14 500', 30, true)
                    +card("Claudie_CFPRO01262-K007_H_1.jpg", "Claudie_CFPRO01262-K007_H_2.jpg", "Claudie_CFPRO01262-K007_H_3.jpg", '10 000', 40)
                    +card("Claudie_CFPRO01339-K007_H_1.jpg", "Claudie_CFPRO01339-K007_H_2.jpg", "Claudie_CFPRO01339-K007_H_3.jpg", '25 400', 30)
                    +card("Claudie_CFPTS00574-A004_H_1.jpg", "Claudie_CFPTS00574-A004_H_2.jpg", "Claudie_CFPTS00574-A004_H_3.jpg", '14 800', 40)
                    +card("Claudie_CFPTS00581-A004_H_1.jpg", "Claudie_CFPTS00581-A004_H_2.jpg", "Claudie_CFPTS00581-A004_H_3.jpg", '20 500', 30, true)
                    +card("Claudie_CFPOU00335-K007_H_1.jpg", "Claudie_CFPOU00335-K007_H_2.jpg", "Claudie_CFPOU00335-K007_H_3.jpg", '18 225', 30, true)
                    +card("Claudie_CFPJU00339-K007_H_1.jpg", "Claudie_CFPJU00339-K007_H_2.jpg", "Claudie_CFPJU00339-K007_H_3.jpg", '22 000', 30)
                    +card("Claudie_CFPTS00581-A004_H_1.jpg", "Claudie_CFPTS00581-A004_H_2.jpg", "Claudie_CFPTS00581-A004_H_3.jpg", '14 500', 30, true)
                    +card("Claudie_CFPRO01262-K007_H_1.jpg", "Claudie_CFPRO01262-K007_H_2.jpg", "Claudie_CFPRO01262-K007_H_3.jpg", '10 000')
                    +card("Claudie_CFPRO01339-K007_H_1.jpg", "Claudie_CFPRO01339-K007_H_2.jpg", "Claudie_CFPRO01339-K007_H_3.jpg", '25 400', 30)
                    +card("Claudie_CFPTS00574-A004_H_1.jpg", "Claudie_CFPTS00574-A004_H_2.jpg", "Claudie_CFPTS00574-A004_H_3.jpg", '14 800', 30)
                    +card("Claudie_CFPOU00398-H002_H_1.jpg", "Claudie_CFPOU00398-H002_H_2.jpg", "Claudie_CFPOU00398-H002_H_3.jpg", '20 500', 40)
                    +card("Claudie_CFPOU00335-K007_H_1.jpg", "Claudie_CFPOU00335-K007_H_2.jpg", "Claudie_CFPOU00335-K007_H_3.jpg", '18 225')
                    +card("Claudie_CFPTS00581-A004_H_1.jpg", "Claudie_CFPTS00581-A004_H_2.jpg", "Claudie_CFPTS00581-A004_H_3.jpg", '22 000', 30)
                    +card("Claudie_CFPTS00581-A004_H_1.jpg", "Claudie_CFPTS00581-A004_H_2.jpg", "Claudie_CFPTS00581-A004_H_3.jpg", '14 500')
                    +card("Claudie_CFPRO01262-K007_H_1.jpg", "Claudie_CFPRO01262-K007_H_2.jpg", "Claudie_CFPRO01262-K007_H_3.jpg", '10 000', 40)
                    +card("Claudie_CFPTS00581-A004_H_1.jpg", "Claudie_CFPTS00581-A004_H_2.jpg", "Claudie_CFPTS00581-A004_H_3.jpg", '25 400', 30, true)
                    +card("Claudie_CFPRO01262-K007_H_1.jpg", "Claudie_CFPRO01262-K007_H_2.jpg", "Claudie_CFPRO01262-K007_H_3.jpg", '14 800')


        .paginate__options

            a.paginate__more
                span.paginate__label Загрузить еще 27 товаров из 407

            a.paginate__all Смотреть все

            .mobile__breadcrumbs
                .breadcrumbs__wrapper
                            ol.breadcrumb
                                li.breadcrumb__item
                                    a.breadcrumb__elem New In
                                li.breadcrumb__item
                                    span.breadcrumb__elem.breadcrumb__elem--last Вся коллекция (421)

        a#scrollTop

    include components/_slidecat-section