---
title: Claudie Pierlot | Коллекция Осень-зима 2021
newsletter: true
---

extends includes/_page

block main

    #homepage

        .container

            section.home__content
                .slick__container
                    .banner__slider

                        .banner__block
                            a.banner__link(href="#")
                                picture
                                    source(media="(max-width: 750px)" srcset="assets/images/background_720w.jpg")
                                    source(media="(max-width: 1024px)" srcset="assets/images/background_1920w.jpg")
                                    source(media="(min-width: 1025px)" srcset="assets/images/background_1920w.jpg")
                                    img(src="assets/images/background_1920w.jpg", alt="image")

                        .banner__block
                            a.banner__link(href="#")
                                video.desktop(playsinline="" muted="" autoplay="" loop="")
                                    source(src="assets/images/3175368442.mp4" type="video/mp4")
                                video.tablet(playsinline="" muted="" autoplay="" loop="")
                                    source(src="assets/images/3175368442.mp4" type="video/mp4")
                                video.mobile(playsinline="" muted="" autoplay="" loop="")
                                    source(src="assets/images/3175368442.mp4" type="video/mp4")

            section.home__content
                .hpbloc-wrapper
                    .hpbloc-wrapper--left
                        p.hpbloc-wrapper__title Трикотаж
                        a(href="#")
                            img(src="assets/images/222Meltou-market.jpg", alt="img")
                        a.hpbloc-btn(href="#") Купить

                    .hpbloc-wrapper--right
                        p.hpbloc-wrapper__title Аксессуары
                        a(href="#")
                            img(src="assets/images/222AskoFantaisie-market.jpg", alt="img")
                        a.hpbloc-btn(href="#") Купить

            section.home__content
                .season-iconic__container
                    span.season__title Наш выбор
                    .season__iconic

                        .season__product
                            a
                                img(src="assets/images/slide-1.jpg", alt="image")
                                .product__detail
                                    span.product__name Рубашка с бахрамой из вискозы
                                    .product__price
                                        span.price__standart 30 225 ₽
                                        span.price__sales 18 225 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-2.jpg", alt="image")
                                .product__detail
                                    span.product__name Халат
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-3.jpg", alt="image")
                                .product__detail
                                    span.product__name Большой свитер из смешанной шерсти
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-4.jpg", alt="image")
                                .product__detail
                                    span.product__name Блузка с оборками
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-1.jpg", alt="image")
                                .product__detail
                                    span.product__name Рубашка с бахрамой из вискозы
                                    .product__price
                                        span.price__standart
                                        span.price__sales 18 225 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-2.jpg", alt="image")
                                .product__detail
                                    span.product__name Халат
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-3.jpg", alt="image")
                                .product__detail
                                    span.product__name Большой свитер из смешанной шерсти
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-4.jpg", alt="image")
                                .product__detail
                                    span.product__name Блузка с оборками
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-1.jpg", alt="image")
                                .product__detail
                                    span.product__name Рубашка с бахрамой из вискозы
                                    .product__price
                                        span.price__standart
                                        span.price__sales 18 225 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-2.jpg", alt="image")
                                .product__detail
                                    span.product__name Халат
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

            section.home__content
                .board__container
                    .board__slider

                        .board__block
                            .board__image
                                img(src="assets/images/Edito-Basic.jpg" alt="image")
                            .board__desc
                                span.board__title Must-have
                                span.board__text Каждый сезон это одна и та же история, мы сканируем последние тенденции в поисках идеального внешнего вида. Увеличьте масштаб обязательных условий, которые нужно иметь в своей раздевалке, чтобы одевание не было головной болью.
                                a.board__action(href="#") Shop Now

                        .board__block
                            .board__image
                                img(src="assets/images/222Rumba.jpg" alt="image")
                            .board__desc
                                span.board__title Must-have
                                span.board__text Каждый сезон это одна и та же история, мы сканируем последние тенденции в поисках идеального внешнего вида. Увеличьте масштаб обязательных условий, которые нужно иметь в своей раздевалке, чтобы одевание не было головной болью.
                                a.board__action(href="#") Shop Now

                        .board__block
                            .board__image
                                img(src="assets/images/Edito-imprimes-desktop-V2.jpg" alt="image")
                            .board__desc
                                span.board__title Must-have
                                span.board__text Каждый сезон это одна и та же история, мы сканируем последние тенденции в поисках идеального внешнего вида. Увеличьте масштаб обязательных условий, которые нужно иметь в своей раздевалке, чтобы одевание не было головной болью.
                                a.board__action(href="#") Shop Now


