---
title: Claudie Pierlot | Коллекция Осень-зима 2021
newsletter: true
---

extends includes/_page

block main

    #homepage

        .container

            section.home__content
                .slick__container
                    .banner__slider
                        span
                            img(src="assets/images/background_1920w.jpg", alt="image")
                            img(src="assets/images/background_720w.jpg", alt="image")

            section.home__content
                .season-iconic__container
                    span.season__title Наш выбор
                    .season__iconic

                        .season__product
                            a
                                img(src="assets/images/slide-1.jpg", alt="image")
                                .product__detail
                                    span.product__name Рубашка с бахрамой из вискозы
                                    .product__price
                                        span.price__standart
                                        span.price__sales 18 225 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-2.jpg", alt="image")
                                .product__detail
                                    span.product__name Халат
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-3.jpg", alt="image")
                                .product__detail
                                    span.product__name Большой свитер из смешанной шерсти
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-4.jpg", alt="image")
                                .product__detail
                                    span.product__name Блузка с оборками
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-1.jpg", alt="image")
                                .product__detail
                                    span.product__name Рубашка с бахрамой из вискозы
                                    .product__price
                                        span.price__standart
                                        span.price__sales 18 225 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-2.jpg", alt="image")
                                .product__detail
                                    span.product__name Халат
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-3.jpg", alt="image")
                                .product__detail
                                    span.product__name Большой свитер из смешанной шерсти
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-4.jpg", alt="image")
                                .product__detail
                                    span.product__name Блузка с оборками
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-1.jpg", alt="image")
                                .product__detail
                                    span.product__name Рубашка с бахрамой из вискозы
                                    .product__price
                                        span.price__standart
                                        span.price__sales 18 225 ₽

                        .season__product
                            a
                                img(src="assets/images/slide-2.jpg", alt="image")
                                .product__detail
                                    span.product__name Халат
                                    .product__price
                                        span.price__standart
                                        span.price__sales 22 000 ₽

            section.home__content
                .board__container
                    .board__slider

                        .board__block
                            .board__image
                                img(src="assets/images/image-1.jpg" alt="image")
                            .board__desc
                                span.board__title Must-have
                                span.board__text Каждый сезон это одна и та же история, мы сканируем последние тенденции в поисках идеального внешнего вида. Увеличьте масштаб обязательных условий, которые нужно иметь в своей раздевалке, чтобы одевание не было головной болью.
                                a.board__action(href="#") Shop Now

                        .board__block
                            .board__image
                                img(src="assets/images/image-1.jpg" alt="image")
                            .board__desc
                                span.board__title Must-have
                                span.board__text Каждый сезон это одна и та же история, мы сканируем последние тенденции в поисках идеального внешнего вида. Увеличьте масштаб обязательных условий, которые нужно иметь в своей раздевалке, чтобы одевание не было головной болью.
                                a.board__action(href="#") Shop Now

                        .board__block
                            .board__image
                                img(src="assets/images/image-1.jpg" alt="image")
                            .board__desc
                                span.board__title Must-have
                                span.board__text Каждый сезон это одна и та же история, мы сканируем последние тенденции в поисках идеального внешнего вида. Увеличьте масштаб обязательных условий, которые нужно иметь в своей раздевалке, чтобы одевание не было головной болью.
                                a.board__action(href="#") Shop Now


